name: whiteboard_planner
description: Multiplataform app for orchestrating multiple LLMs in collaborative planning sessions.
publish_to: "none"
version: 0.0.1+1
resolution: workspace

environment:
  sdk: ">=3.9.2 <4.0.0"
  flutter: ">=3.35.3 <4.0.0"

dependencies:
  # Flutter SDK
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # State management
  flutter_bloc: 9.1.1

  # Storage
  shared_preferences: ^2.5.4

  # Utils
  clock: 1.1.2
  package_info_plus: ^9.0.0

  # Core
  rest_client:
    path: ../core/rest_client
  logger:
    path: ../core/logger
  common:
    path: ../core/common
  ui_library:
    path: ../core/ui_library
  filesystem_storage:
    path: ../core/filesystem_storage
  llm_client:
    path: ../core/llm_client
  session_scheduler:
    path: ../core/session_scheduler

  # Features
  settings:
    path: ../feature/settings
  home:
    path: ../feature/home
  global_experts:
    path: ../feature/global_experts
  rooms:
    path: ../feature/rooms

dev_dependencies:
  # Testing
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

flutter_intl:
  enabled: true
  main_locale: en
  class_name: GeneratedLocalizations
  arb_dir: lib/src/core/constant/localization/translations
  output_dir: lib/src/core/constant/localization/generated
